<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opsigte.e.user.service.mapper.UserMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap type="UserEntity" id="baseMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="name" column="name" />
		<result property="age" column="age" />
	</resultMap>

	<sql id="Base_Column_List">
		id,name,age
	</sql>

    <select id="selectListAll" resultMap="baseMap">
        select * from e_user
    </select>

    <select id="selectListByPage" resultMap="baseMap" parameterType="java.util.Map">
        select * from e_user where sort != #{sort}  order by sort desc
    </select>

    <update id="update" parameterType="UserEntity">
        update e_user set name = #{name} where id = #{id}
    </update>

    <insert id="insert" parameterType="UserEntity" useGeneratedKeys="true" keyColumn="id">
         insert into e_user (name,age,sort) value (#{name},#{age},#{sort})
    </insert>

    <delete id="deleteByPrimaryId" parameterType="integer">
        delete from e_user where id = #{id}
    </delete>
</mapper>