<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 日志根目录，可以在配置文件中定义 logging.path（方便使用命令行启动的时候改变文件存放目录）,然后在这里使用 LOG_HOME别名，-->
    <springProperty scope="context" name="LOG_HOME" source="logging.path"/>
    <!-- 日志文件名称-->
    <property name="LOG_PREFIX" value="e-gateway" />

    <!-- 日志生成位置 -->
    <appender name="eventFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<File>${LOG_HOME}/${LOG_PREFIX}.log</File>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover 保存历史记录到这个文件夹一日起为后缀 -->
            <FileNamePattern>${LOG_HOME}/${LOG_PREFIX}.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!-- 最多保存30天 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
    </appender>

    <!-- 打印 日志级别-->
    <root level="${LOG_ROOT_LEVEL}">
        <appender-ref ref="eventFile" />
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>